.Button {
    border: 1px solid #521751;
    font: inherit;
    padding: 8px;
    background-color: #521751;
    color: white;
    cursor: pointer;
    width: auto;
    height: 100%;
  
  }
  
  
  .Button:hover,
  .Button:active {
    background-color: #fa923f;
  }